.loadingSpinner {
  justify-self: center;
}

.vehicleDetailsPage {
  margin: 48px auto 80px auto;
  width: 1312px;
}

.vehicleTitle {
  composes: h2 from "../../index.css";
  color: var(--main);
}

.vehicleInformation {
  display: flex;
}

.vehiclePrice {
  composes: h2 from "../../index.css";
  color: var(--main);
  margin-top: 16px;
}

.gallery {
  margin-top: 28px;
  display: flex;
  gap: 48px;
}

.picture {
  width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  color: var(--text);
  margin-top: 28px;
}

.buttons {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.button {
  composes: h3 from "../../index.css";
  color: var(--main);
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  padding: 0;
}

.buttonActive::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: red;
  margin-top: 22px; /* 22px = 24px - 2px */ /* 22px = margin-top - height / 2 */
}

.horizontalLine {
  margin: 24px 0px 0px 0px;
}

.features, .reviews {
  width: 631px;
  height: 588px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.features {
  background-color: var(--inputs);
  padding: 44px 52px;
}

.reviews {
  gap: 44px;
}

.details {
  margin-top: 44px;
}

.vehicleData {
  margin-top: auto;
}

.vehicleDataList {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicleDataItem {
  display: flex;
}

.vehicleDataItemTitle, .vehicleDataItemData {
  composes: body-2 from "../../index.css";
  color: var(--main);
}

.vehicleDataItemData {
  margin-left: auto;
}

.vehicleDataTitle {
  composes: h3 from "../../index.css";
  color: var(--main);
}

.reviewPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);
  composes: h2 from "../../index.css";
  color: var(--button);
}

.reviewHeader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.reviewName {
  composes: body-2 from "../../index.css";
  color: var(--main);
}

.reviewNameRating {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewDescription {
  margin-top: 16px;
  color: var(--text);
}

.ratingStars, .ratingFadedStars {
  width: 16px;
  height: 16px;
}

.ratingStars {
  color: var(--rating);
}

.ratingFadedStars {
  color: var(--badges);
}

.ratingStarsList {
  display: flex;
  gap: 4px;
}