.button {
  border-radius: 200px;
  background-color: var(--button);
  padding: 0;
  border: none;
  color: rgba(255, 255, 255, 1);
  composes: button from '../../index.css';
}

.button:hover {
  background-color: var(--button-hover);
}
