.catalog {
  display: flex;
  padding-top: 48px;
  gap: 64px;
  justify-content: center;
}

.catalogLeft {
  width: 360px;
}

.catalogRight {
  width: 888px;
  display: flex;
  flex-direction: column;
}

.locationForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  color: var(--gray);
}

.locationInput {
  width: 360px;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  background-color: var(--inputs);
  padding: 16px 0px 16px 20px;
}

.locationSuggestionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.locationSuggestions {
  padding-left: 20px;
}

.filtersLabel {
  composes: body-2 from "../../index.css";
  color: var(--text);
  margin-top: 40px;
}

.filters {
  margin-top: 32px;
}

.filtersTitle {
  composes: h3 from "../../index.css";
  color: var(--main);
}

.filtersList {
  /* Make a grid 3x2 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 12px;

  margin-top: 24px;
}

.divider {
  border: 0px;
  border-top: 1px solid var(--gray-light);
  margin: 24px 0px 0px 0px;
  height: 0px;
}

.searchButton {
  width: 166px;
  height: 56px;
  margin-top: 40px;
}

.vehicleList {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.vehicleListItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-light);
}

.vehicleListItemImage {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.vehicleListItemTitleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicleListItemTitle,
.vehicleListItemPrice {
  composes: h2 from "../../index.css";
  color: var(--main);
}

.vehicleListItemPrice {
  margin-left: auto;
}

.vehicleListItemDescription {
  margin-top: 24px;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
}

.vehicleListItemFilters {
  margin-top: 24px;
}

.vehicleListItemButton {
  width: 166px;
  height: 56px;
  margin-top: auto;
}

.vehicleListItemContent {
  display: flex;
  flex-direction: column;
}

.vehicleListItemFiltersItems {
  margin-top: 24px;
  max-width: 524px;
  max-height: 104px;
}

.vehicleListItemFavorite {
  width: 25px;
  height: 24px;
}

.vehicleListItemFavoriteSelected {
  stroke: var(--button);
  stroke-width: 5%;
}

.favoriteButton {
  margin-left: 15px;
  display: inline-flex;
  background-color: white;
  padding: 0;
  width: 25px;
  height: 24px;
  border: 0;
  outline: none;
}

.loadMoreButton {
  margin-top: 40px;
  width: 145px;
  height: 56px;
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  opacity: 0px;

  margin: 40px auto 20px auto;
}
