.catalog {
    display: flex;
    padding-top: 48px;
    gap: 64px;
    justify-content: center;
}

.catalogLeft {
    width: 360px;
}

.catalogRight {
    width: 888px;
}

.locationForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.locationLabel {
    color: var(--gray);
}

.locationInput {
    width: 360px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    background-color: rgba(247, 247, 247, 1);
    padding: 16px 0px 16px 20px;
}

.locationSuggestions {
    padding-left: 20px;
}
