.home {
    background-image: url('../../assets/jpg/Picture.jpg');
    padding: 260px 0px 260px 64px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textTitle {
  composes: h1 from '../../index.css';
  color: rgba(247, 247, 247, 1);
}

.textDescription {
  composes: h2 from '../../index.css';
  color: rgba(247, 247, 247, 1);
}

.button {
  width: 173px;
  height: 56px;
  margin-top: 40px;
}