.header {
  display: flex;
  padding: 24px 200px 24px 64px;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}

.logo {
  margin: auto 0;
}

.menu {
  display: flex;
  gap: 32px;
}

.menuNav {
  margin: auto;
}

.menuItem {
  composes: body-2 from "../../index.css";
}

.menuItemActive {
  color: var(--button);
}

.menuItem:hover {
  color: var(--button-hover);
}
